:root {
  // base
  --font-family: "DM Sans", sans-serif;
  --second-family: "Roboto", sans-serif;
  --content-width: 1280px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #e0e0e0;
  --dark-color: #6F7787;
  --red-color: #dd2242;
}
