:root {
  // base
  --font-family: "Roboto Condensed", sans-serif;
  --second-family: "Raleway", sans-serif;
  --content-width: 1200px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #fff;
}
