.footer {
  background-color: var(--black-color);

  &__container {
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;

    @media (width <=1023px) {
      flex-direction: column;
    }

    @media (width <=767px) {
      padding: 80px 30px;
    }
  }

  &__logo {
    margin-right: 125px;
    height: 49px;

    &-text {
      flex-direction: column;
      justify-content: center;
      font-family: var(--second-family);
      font-weight: 900;
      font-size: 23.96px;
      line-height: 80.5%;
      letter-spacing: 0.32px;
      text-transform: uppercase;
      color: var(--white-color);
    }

    &-span {
      color: var(--red-color);
    }

    @media (width <=1440px) {
      margin-right: 50px;
    }

    @media (width <=767px) {
      justify-content: center;
      margin-right: 0;
      margin-bottom: 30px;
      min-height: 50px;
    }
  }

  &__list {
    align-items: center;

    @media (width <=767px) {
      justify-content: center;
    }

    @media (width <=479px) {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 36px;

      @media (width <=479px) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

    &-social {
      height: 24px;

      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }

  &__link {
    outline: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--white-color);
    transition: all .3s ease-in-out;

    &:focus {
      color: var(--red-color);
    }

    @include hover {
      color: var(--red-color);
    }

    &:active {
      color: var(--white-color);
    }
  }

  &__authorship {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--white-color);
  }

  &__list-social {
    margin-right: 50px;

    @media (width <=1023px) {
      margin: 0;
      margin-bottom: 30px;
    }

    @media (width <=767px) {
      margin-bottom: 30px;
    }
  }

  &__link-social {
    outline: none;
    
    &:focus svg {
      fill: var(--red-color);
      transition: fill .3s ease-in-out;
    }

    @include hover {
      svg {
        fill: var(--red-color);
        transition: fill .3s ease-in-out;
      }
    }

    &:active svg {
      fill: var(--white-color);
      transition: fill .3s ease-in-out;
    }
  }

  &__icon-social {
    width: 24px;
    height: 24px;
    fill: var(--white-color);
  }

  &__right {
    align-items: center;

    @media (width <=1023px) {
      flex-direction: column;
    }
  }

  &__left {      
    @media (width <=1023px) {
      justify-content: space-between;
      margin-bottom: 30px;
      width: 100%;
    }

    @media (width <=767px) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__image {
    height: 100%;
  }
}
