.gallery {
  padding: 200px 30px;

  @media (width <=1023px) {
    padding: 100px 30px;
  }

  @media (width <=479px) {
    padding: 40px 29px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    text-align: center;

    @media (width <=767px) {
      font-size: 50px;
    }

    @media (width <=479px) {
      margin-bottom: 20px;
      font-size: 40px;
    }
  }

  &__subtitle {
    margin: 0;
    margin: 0 auto;
    margin-bottom: 70px;
    max-width: 510px;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: var(--dark-color);

    @media (width <=479px) {
      margin-bottom: 20px;
      font-size: 16px;
    }
  }

  &__list {
    grid-template:
    "a c e"
    "a c e"
    "a d e"
    "a d f"
    "b d f"
    "b d f";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    min-height: 770px;
    gap: 30px;
    
    @media (width <=767px) {
      grid-template:
        "a d"
        "a e"
        "a e"
        "b e"
        "c f"
        "c f";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      min-height: 620px;
      gap: 12px;
    }

    @media (width <=479px) {
      min-height: 480px;
    }
  }

  &__item {
    &--1 {
      grid-area: a;
    }

    &--2 {
      grid-area: b;
    }

    &--3 {
      grid-area: c;
    }

    &--4 {
      grid-area: d;
    }

    &--5 {
      grid-area: e;
    }

    &--6 {
      grid-area: f;
    }
  }

  &__photo {
    min-height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &--1 {
      /* stylelint-disable-next-line function-url-quotes */
      background-image: url(../img/reserv-img-1.webp);
    }

    &--2 {
      /* stylelint-disable-next-line function-url-quotes */
      background-image: url(../img/reserv-img-2.webp);
    }

    &--3 {
      /* stylelint-disable-next-line function-url-quotes */
      background-image: url(../img/reserv-img-3.webp);
    }

    &--4 {
      /* stylelint-disable-next-line function-url-quotes */
      background-image: url(../img/reserv-img-4.webp);
    }

    &--5 {
      /* stylelint-disable-next-line function-url-quotes */
      background-image: url(../img/reserv-img-5.webp);
    }

    &--6 {
      /* stylelint-disable-next-line function-url-quotes */
      background-image: url(../img/reserv-img-6.webp);
    }
  }
}
