.getting {
  padding: 200px 30px;
  background-color: #DCE8F2;

  @media (width <=1023px) {
    padding: 100px 30px;
  }

  @media (width <=479px) {
    padding: 40px 0;
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;

    @media (width <=767px) {
      font-size: 50px;
    }

    @media (width <=479px) {
      font-size: 40px;
    }
  }

  &__subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 26.41px;
    line-height: 41.08px;

    @media (width <=479px) {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__text {
    display: block;
    font-weight: 400;
    font-size: 23.47px;
    line-height: 38.15px;
    color: rgba(21, 20, 57, 0.4);

    &--mb {
      margin-bottom: 90px;

      @media (width <=767px) {
        margin-bottom: 20px;
      }
    }

    &--mw {
      max-width: 450px;
    }

    @media (width <=479px) {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 30px;
    }
  }

  &__item {
    position: relative;
    padding: 20px 0 80px 100px;
    transition: all .3s ease-in-out;

    @media (width <=767px) {
      padding-bottom: 20px;
    }

    @media (width <=479px) {
      padding: 0;
      text-align: center;
    }

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      width: 60px;
      height: 60px;
      font-weight: 500;
      font-size: 26.41px;
      line-height: 38.15px;
      color: var(--white-color);
      background-color: var(--red-color);

      @media (width <=479px) {
        display: none;
      }
    }

    &--1::before {
      content: '1';
    }

    &--2::before {
      content: '2';
    }

    &--3::before {
      content: '3';
    }

    &--4::before {
      content: '4';
    }

    &--1::after {
      content: "";
      position: absolute;
      left: 30px;
      top: 0;
      z-index: 0;
      width: 1px;
      height: 100%;
      background-color: rgba(21, 20, 57, 0.4);

      @media (width <=479px) {
        display: none;
      }
    }

    &--2::after {
      content: "";
      position: absolute;
      left: 30px;
      top: 0;
      z-index: 0;
      width: 1px;
      height: 100%;
      background-color: rgba(21, 20, 57, 0.4);

      @media (width <=479px) {
        display: none;
      }
    }

    &--3::after {
      content: "";
      position: absolute;
      left: 30px;
      top: 0;
      z-index: 0;
      width: 1px;
      height: 100%;
      background-color: rgba(21, 20, 57, 0.4);
      opacity: 0;
      transition: opacity .3s ease-in-out;

      @media (width <=479px) {
        display: none;
      }
    }

    &-hidden {
      overflow: hidden;
      padding: 0 0 0 100px;
      max-height: 0;
      opacity: 0;
      transition: all .3s ease-in-out;
    }
  }

  &__img {
    margin-right: 45px;
    width: 250px;

    @media (width <=767px) {
      margin-right: 0;
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__btn {
    margin-left: 100px;
    outline: none;
    border-radius: 32px;
    padding: 16px 24px;
    min-width: 210px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--white-color);
    background-color: var(--red-color);
    transition: all .3s ease-in-out;

    &:focus {
      color: var(--black-color);
      background-color: var(--white-color);
    }

    @include hover {
      color: var(--black-color);
      background-color: var(--white-color);
    }

    &:active {
      color: var(--white-color);
      background-color: var(--red-color);
    }

    @media (width <=479px) {
      margin-left: 0;
      width: 100%;
    }
  }

  &__subcard {
    @media (width <=767px) {
      flex-direction: column;
    }
  }
}

.show {
  height: 80px;
  opacity: 1;
}

.getting__item--3.show-line::after {
  opacity: 1;
}
