.video {
  position: relative;
  z-index: -1;
  /* stylelint-disable-next-line function-url-quotes */
  background-image: url(../img/video-bg.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__container {
    flex-direction: column;
    align-items: center;
    padding: 200px 30px;

    @media (width <=1023px) {
      padding: 100px 30px;
    }

    @media (width <=479px) {
      padding: 40px 29px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 60px;
    max-width: 1056px;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0;
    text-align: center;
    color: var(--white-color);

    @media (width <=479px) {
      font-size: 40px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--white-color);
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--dark-color);
  }

  &__list {
    justify-content: space-between;
    width: 96%;

    @media (width <=1023px) {
      flex-direction: column;
    }
  }

  &__item {
    &:not(:last-child) {
      padding-right: 20px;

      @media (width <=1023px) {
        margin-bottom: 30px;
        padding-right: 0;
      }
    }

    @media (width <=767px) {
      flex-direction: column;
    }
  }

  &__player {
    margin-bottom: 125px;
    border-radius: 5px;
    width: 100%;

    @media (max-width <= 1440px) {
      width: 600px;
    }

    @media (width <=479px) {
      margin-bottom: 40px;
    }

    &--sm {
      margin-right: 40px;
      border-radius: 5px;

      @media (width <=767px) {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
      }
    }
  }

  &__descr {
    max-width: 330px;

    @media (width <=767px) {
      text-align: center;
    }
  }
}
